body {
  margin: 0 auto;
  height: 100vh;
}
body #top {
  display: grid;
  background-color: gray;
  grid-template-columns: 2fr 1fr 2fr 2fr;
  height: 80px;
  align-items: center;
}
body #top #timer {
  width: 70px;
}
body #top #f2 {
  justify-self: end;
}
body #top #f2 #fullScr {
  width: 100%;
  height: 50px;
  background-color: hsl(0, 0%, 48%);
  border: none;
  color: rgba(255, 255, 255, 0.551);
  letter-spacing: 0.3em;
  font-size: 24px;
  letter-spacing: 1px;
}
body #top #f2 #fullScr:hover {
  background-color: hsl(0, 2%, 75%);
  color: rgba(0, 0, 0, 0.671);
}
body #top #f1 {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  align-items: center;
  gap: 20px;
}
body #top #f1 #timeCount {
  justify-self: center;
}
body #top #f1 #countdown {
  display: none;
}
body #top #f1 #dublicate {
  font-size: 20px;
  height: 35px;
  width: 100px;
  text-align: center;
}
body #top #f1 #mus {
  justify-self: end;
}
body #top #f1 #mus #music {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 15px;
  justify-self: end;
  align-self: baseline;
  bottom: 25px;
  left: 25px;
}
body #top #f1 #f2_2 {
  display: grid;
  grid-template-rows: 1fr 1fr;
  justify-self: end;
}
body #top #f1 #f2_2 > div {
  justify-self: center;
}
body #top #f1 #f2_2 > div #start {
  align-self: last baseline;
  -webkit-appearance: none;
  border-radius: 50%;
  height: 7px;
  margin-top: 0;
  margin-bottom: 0;
  width: 200px;
  background-color: rgb(206, 205, 205);
}
body #top #f1 #f2_2 > div #start::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 18px;
  width: 10px;
  border-radius: 50%;
  background-color: rgb(255, 255, 255);
}
body #top #f1 #f2_2 #line {
  display: grid;
  width: 200px;
  height: 5px;
  justify-self: center;
}
body #top #f1 #f2_2 #line #numb {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  font-size: 12px;
  color: rgb(255, 255, 255);
  pointer-events: none;
}
body #top #f1 #f2_2 #line #numb :nth-of-type(1) {
  position: relative;
  right: 5px;
  bottom: 10px;
}
body #top #f1 #f2_2 #line #numb :nth-of-type(2) {
  position: relative;
  right: 5px;
  bottom: 6px;
}
body #top #f1 #f2_2 #line #numb :nth-of-type(3) {
  position: relative;
  right: 5px;
  bottom: 2px;
}
body #top #f1 #f2_2 #line #numb :nth-of-type(4) {
  position: relative;
  left: 5px;
  bottom: 6px;
}
body #top #f1 #f2_2 #line #numb :nth-of-type(5) {
  position: relative;
  left: 15px;
  bottom: 10px;
}
body #top #f1 #f2_2 #line #shpic {
  pointer-events: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  font-size: 16px;
  color: rgb(255, 255, 255);
}
body #top #f1 #f2_2 #line #shpic :nth-last-of-type(1) {
  justify-self: end;
  position: relative;
  right: 4px;
  bottom: 9px;
}
body #top #f1 #f2_2 #line #shpic :nth-last-of-type(2) {
  justify-self: center;
  position: relative;
  left: 5px;
  bottom: 6px;
}
body #top #f1 #f2_2 #line #shpic :nth-last-of-type(3) {
  justify-self: center;
  position: relative;
  right: 5px;
  bottom: 2px;
}
body #top #f1 #f2_2 #line #shpic :nth-last-of-type(4) {
  position: relative;
  left: 4px;
  bottom: 6px;
}
body #top #f1 #f2_2 #line #shpic :nth-last-of-type(5) {
  position: relative;
  left: 3px;
  bottom: 9px;
}
body #top #f3 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-items: center;
  gap: 5px;
}
body #top #f3 #f3_1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 10px;
}
body #top #f3 #f3_1 #f3_1_1 {
  justify-self: end;
}
body #top #f3 #f3_1 #f3_1_1 #time {
  height: 25px;
  width: 80px;
}
body #top #f3 #f3_2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 10px;
}
body #top #f3 #f3_2 #f3_2_2 {
  justify-self: start;
}
body #top #f3 #f3_2 #f3_2_2 #sise {
  height: 25px;
  width: 80px;
}
body #top #f3 .form {
  height: 35px;
  width: 100px;
  text-align: center;
  font-size: 18px;
}
body #top #f4 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}
body #top #f4 .input {
  color: rgb(236, 233, 233);
}
body #top #f4 #f4_1 {
  display: grid;
  grid-template-rows: 1fr 1fr;
  justify-items: center;
  gap: 5px;
}
body #top #f4 #On {
  height: 25px;
  width: 80px;
}
body #window {
  width: 100%;
  height: 89vh;
  margin: auto;
  position: absolute;
}
body #window #clean {
  z-index: 1;
  height: 100%;
  width: 100%;
  background: none;
  color: transparent;
  border: transparent;
}
body #window > div {
  position: absolute;
  text-align: center;
}
body #window > div p {
  font-size: 60px;
  margin: 0;
  color: black;
  font-family: Times;
  font-weight: bold;
}/*# sourceMappingURL=style.css.map */