body {
  margin: 0 auto;
  height: 100vh;
}
body #top {
  display: grid;
  background-color: gray;
  grid-template-columns: 200px 1fr 200px;
  height: 80px;
}
body #top #timer {
  width: 70px;
}
body #top > div {
  justify-self: center;
  align-self: center;
}
body #top > div .scr {
  width: 95%;
  height: 50px;
  background-color: hsl(0, 0%, 48%);
  border: none;
  color: rgba(255, 255, 255, 0.551);
  letter-spacing: 0.3em;
  font-size: 16px;
}
body #top > div .scr:hover {
  background-color: hsl(0, 2%, 75%);
  color: rgba(0, 0, 0, 0.671);
}
body #top > div #closeScr {
  justify-self: center;
}
body #top #seting {
  justify-self: center;
  display: grid;
  grid-template-columns: 2fr 2fr 1fr;
  align-content: center;
}
body #top #seting #f1 {
  display: grid;
  grid-template-columns: 1fr 2fr;
}
body #top #seting #f1 #countdown {
  display: none;
}
body #top #seting #f1 #dublicate {
  font-size: 20px;
  height: 35px;
  width: 100px;
  text-align: center;
}
body #top #seting #f1 #timer2 {
  justify-self: start;
}
body #top #seting #f1 #timer2 #start {
  -webkit-appearance: none;
  border-radius: 50%;
  height: 7px;
  margin-top: 0;
  margin-bottom: 0;
  width: 200px;
  background-color: rgb(206, 205, 205);
}
body #top #seting #f1 #timer2 #start::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 18px;
  width: 10px;
  border-radius: 50%;
  background-color: rgb(255, 255, 255);
}
body #top #seting #f1 #timer2 #line {
  display: grid;
  width: 200px;
  height: 5px;
  justify-self: center;
  left: 400px;
  top: 25px;
}
body #top #seting #f1 #timer2 #line pre {
  margin: 0;
  pointer-events: none;
  width: 100%;
}
body #top #seting #f1 #timer2 #line #numb {
  font-size: 12px;
  color: rgb(255, 255, 255);
}
body #top #seting #f1 #timer2 #line #shpic {
  font-size: 12px;
  color: rgb(255, 255, 255);
}
body #top #seting #f2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  align-items: center;
}
body #top #seting #f2 #skorost {
  justify-self: end;
}
body #top #seting #f2 #skorost #time {
  height: 25px;
  width: 80px;
}
body #top #seting #f2 #skorost #speed {
  font-size: 18px;
}
body #top #seting #f2 #shrift #fill {
  font-size: 18px;
}
body #top #seting #f2 #shrift #sise {
  height: 25px;
  width: 80px;
}
body #top #seting #f2 .form {
  height: 35px;
  width: 100px;
  text-align: center;
}
body #top #seting #f3 {
  justify-self: end;
  align-self: center;
}
body #top #seting #f3 #On {
  height: 25px;
  width: 80px;
}
body #clean {
  position: absolute;
  border-radius: 100%;
  left: 33%;
  z-index: 1;
  height: 500px;
  width: 500px;
  top: 20%;
  color: transparent;
}
body #clean input {
  border: transparent;
  background: none;
  color: transparent;
}
body #clean:hover {
  background: radial-gradient(rgba(0, 0, 0, 0.11), rgba(151, 150, 150, 0.384));
  color: rgba(108, 107, 107, 0.579);
  font-size: 36px;
}
body #clean:hover p {
  position: absolute;
  left: 135px;
  top: 175px;
}
body #window {
  width: 100%;
  height: 89vh;
  margin: auto;
  position: absolute;
}
body #window > div {
  position: absolute;
  text-align: center;
}
body #window > div p {
  font-size: 60px;
  margin: 0;
  color: black;
  font-family: Times;
  font-weight: bold;
}/*# sourceMappingURL=style.css.map */